{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- Who we are -->
<section class="my-4 p-4" id="whoWeAre">
  <div class="container">
    <h1 class="mb-3">Who We <span class="text-light-blue">Are?</span></h1>
    <div class="row gy-2">
      <div class="col-md align-items-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delectus ad nemo eaque repellat, placeat nulla.
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum pariatur perferendis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delect Ratione ipsa repellat eaque id alias natus
          velit dicta soluta excepturi minima numquam quasi quia harum rem eum
          repudiandae iure necessitatibus vitae amet odit, laboriosam eveniet!
          Facilis sequi et harum pariatur perferendis.
        </p>
        <p>
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum.
        </p>
      </div>
      <div class="col-lg-4">
        <img
          src="{% static 'img/who-we-are.jpg' %}"
          alt="Who we are"
          class="img-fluid img-thumbnail"
        />
      </div>
    </div>
  </div>
</section>

<!-- History -->
<section class="my-4 p-4" id="history">
  <div class="container">
    <h1 class="mb-3">Our <span class="text-light-blue">History</span></h1>

    <div class="row gy-4">
      <div class="col-lg-4">
        <img
          src="{% static 'img/history.jpg' %}"
          alt="Who we are"
          class="img-fluid img-thumbnail"
        />
      </div>
      <div class="col-md align-items-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delectus ad nemo eaque repellat, placeat nulla.
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum pariatur perferendis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delect Ratione ipsa repellat eaque id alias natus
          velit dicta soluta excepturi minima numquam quasi quia harum rem eum
          repudiandae iure necessitatibus vitae amet odit, laboriosam eveniet!
          Facilis sequi et harum pariatur perferendis.
        </p>
        <p>
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Mission & Vission -->
<section class="my-4 p-3 py-5 bg-light" id="missionAndVision">
  <div class="container">
    <div class="row gap-4">
      <div class="col-md">
        <h1 class="mb-3">Our <span class="text-light-blue">Mission</span></h1>
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/mission.jpg' %}"
            alt="Mission"
          />
          <div class="card-body text-center">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus itaque libero quos iusto corporis quisquam porro in
              recusandae ipsum exercitationem. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Doloremque, ratione!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <h1 class="mb-3">Our <span class="text-light-blue">Vision</span></h1>
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/vision.jpg' %}"
            alt="Vision"
          />
          <div class="card-body text-center">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
              architecto ab similique saepe cumque sapiente aperiam fugit
              molestiae quibusdam quisquam! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Molestias, eum!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Trustee's Message -->
<section class="my-4 mb-5 p-4" id="trusteeMessage">
  <div class="container">
    <h1 class="mb-3">Trustee's <span class="text-light-blue">Message</span></h1>

    <div class="row gy-4">
      <div class="col-lg-5">
        <img
          src="{% static 'img/trustee-1.jpg' %}"
          alt="Who we are"
          class="img-fluid img-thumbnail"
        />
      </div>
      <div class="col-md align-items-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delectus ad nemo eaque repellat, placeat nulla.
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum pariatur perferendis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repudiandae alias delect Ratione ipsa repellat eaque id alias natus
          velit dicta soluta excepturi minima numquam quasi quia harum rem eum
          repudiandae iure necessitatibus vitae amet odit, laboriosam eveniet!
          Facilis sequi et harum pariatur perferendis.
        </p>
        <p>
          Ratione ipsa repellat eaque id alias natus velit dicta soluta
          excepturi minima numquam quasi quia harum rem eum repudiandae iure
          necessitatibus vitae amet odit, laboriosam eveniet! Facilis sequi et
          harum. - <b>Arnav Gotam</b>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
